* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);


    .container {
        align-items: center;
        color: white;
        display: flex;
        justify-content: center;
        height: 100%;

        .container-card {
            background-color: hsl(244, 38%, 16%);
            border-radius: 6px;
            display: flex;
            margin: 20px;

            @media only screen and (max-width: 1024px) {
                flex-direction: column-reverse;
                justify-content: center;
            }

            .container-card-left {
                display: flex;
                flex-direction: column;
                padding: 80px 60px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;


                @media only screen and (max-width: 1024px) {
                    border-top-left-radius: 0px;
                    border-bottom-right-radius: 6px;
                    padding: 33px 20px;
                    align-items: center;
                    justify-content: center;
                }

                // font-family: 'Inter', sans-serif;
                // font-family: 'Lexend Deca', sans-serif;

                .container-card-left-title {
                    font-family: 'Inter', sans-serif;
                    font-size: 35px;
                    margin-bottom: 30px;
                    max-width: 420px;
                    width: max-content;

                    @media only screen and (max-width: 1024px) {
                        text-align: center;
                        max-width: 354px;
                    }


                    span {
                        color: hsl(277, 64%, 61%);
                    }
                }

                .container-card-left-paragraph {
                    color: hsla(0, 0%, 100%, 0.6);
                    font-family: 'Inter', sans-serif;
                    font-size: 15px;
                    line-height: 25px;
                    max-width: 360px;
                    margin-bottom: 70px;

                    @media only screen and (max-width: 1024px) {
                        margin-bottom: 41px;
                        max-width: 262px;
                        text-align: center;
                    }
                }

                .container-stats {
                    display: flex;
                    gap: 30px;

                    @media only screen and (max-width: 1024px) {
                        flex-direction: column;
                    }


                    .stats {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        justify-content: space-between;
                        width: 100%;

                        @media only screen and (max-width: 1024px) {
                            align-items: center;
                        }

                        .quantity {
                            font-family: 'Inter';
                            font-weight: 700;
                            font-size: 20px;
                        }

                        .type {
                            color: hsla(0, 0%, 100%, 0.6);
                            font-family: 'Lexend Deca', sans-serif;
                            font-size: 11px;
                        }
                    }
                }
            }

            .container-card-right {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                position: relative;

                picture {
                    img {
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        width: 100%;

                        @media only screen and (max-width: 1024px) {
                            border-top-left-radius: 6px;
                            border-bottom-right-radius: 0px;
                            max-width: 410px;
                            width: 100%;
                        }
                    }
                }

                .curtain {
                    background-color: hsl(277, 64%, 61%);
                    height: 100%;
                    mix-blend-mode: multiply;
                    opacity: 80%;
                    position: absolute;
                    top: 0px;
                    width: 100%;
                }
            }
        }
    }

}